<md-card>
  <md-toolbar>
    <!--<form [ngFormModel]="searchForm" (ngSubmit)="onSearch()"
					class="form-group has-feedback"
					[ngClass]="{'has-error': error}">
      <md-input-container>
          <input mdInput placeholder="Search" [ngFormControl]="searchForm.controls.term" (keyup)="search(input.value)" #input>
      </md-input-container>
          <button md-raised-button>Search!!!</button>
    </form>-->
  </md-toolbar>
</md-card>


<md-card>
  <table>
        <thead>
          <tr>
              <th data-field="id">ID</th>
              <th data-field="name">Name</th>
              <th data-field="mobile">Phone Number</th>
              <th data-field="address">Address</th>
              <th data-field="refcode">Referral Code</th>
              <th data-field="email">Email</th>
              <th data-field="rating">Rating</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
              <td>have to fetch the id</td>
              <td>{{user.name}}</td>
              <td>{{user.phoneNumber}}</td>
              <td>Address</td>
              <td>{{user.myReferralCode}}</td>
              <td>{{user.email}}</td>
              <td>5</td>
            </tr>
        </tbody>
      </table>
</md-card>

<!--<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">have to fetch</th>
      <td>{{user.name}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.email}}</td>
      <td>5</td>
    </tr>
  </tbody>
</table>-->