<md-card>
  <md-toolbar>
    <md-input-container>
        <input mdInput placeholder="Search" (keyup)="search(input.value)" #input>
    </md-input-container>
        <button md-raised-button>Search!!!</button>
  </md-toolbar>
</md-card>
<ul *ngFor="let user of users">
  <li>{{users.name}}</li>
</ul>

<md-card>
  <table>
        <thead>
          <tr>
              <th data-field="id">ID</th>
              <th data-field="name">Name</th>
              <th data-field="mobile">Phone Number</th>
              <th data-field="address">Address</th>
              <th data-field="refcode">Referral Code</th>
              <th data-field="rating">Rating</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>$0.87</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>$0.87</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
            <td>$0.87</td>
            <td>$0.87</td>
          </tr>
        </tbody>
      </table>
</md-card>