<md-card>
  <md-toolbar>
    <md-input-container>
        <input mdInput placeholder="Search">
    </md-input-container>
        <button md-raised-button>Search!!!</button>
    <md-select placeholder="Favorite food">
        <md-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
        </md-option>
    </md-select>
  </md-toolbar>
</md-card>

<!--http://codebeautify.org/jsonviewer/cb17aef4-->

<md-card>
  <table>
        <thead>
          <tr>
              <th data-field="id">ID</th>
              <th data-field="name">Name</th>
              <th data-field="mobile">phoneNumber</th>
              <th data-field="status">Shift</th>
              <th data-field="rating">Rating</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
              <td>have to fetch the id</td>
              <td>{{deliveryboy.name}}</td>
              <td>{{deliveryboy.phoneNumber}}</td>
              <td>{{deliveryboy.shift}}</td>
              <td>{{deliveryboy.rating}}</td>
            </tr>
        </tbody>
      </table>
</md-card>