<md-toolbar color="primary">
    <span>Admin-Panel</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
      <button md-menu-item (click)="logout()">
        <md-icon>fingerprint</md-icon>
        <span>logout</span>
      </button>
    </md-menu>
</md-toolbar>

<md-tab-group>
  <md-tab label="Create Orders"><app-table></app-table></md-tab>
  <md-tab label="Delivery Person">Content 2</md-tab>
  <md-tab label="Users">Content 3</md-tab>
  <md-tab label="Team">Content 4</md-tab>
  <md-tab label="Settings">Content 5</md-tab>
</md-tab-group>