<md-card>
  <md-toolbar>
    <md-input-container>
        <input mdInput placeholder="Search">
    </md-input-container>
        <button md-raised-button>Search!!!</button>
    <md-select placeholder="Favorite food">
        <md-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
        </md-option>
    </md-select>
  </md-toolbar>
</md-card>

<md-card>
  <table>
        <thead>
          <tr>
              <th data-field="id">Order ID</th>
              <th data-field="orderby">Address</th>
              <th data-field="mobile">deliveryBoy</th>
              <th data-field="assigned">Status</th>
              <th data-field="status">User name</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let order of orders">
              <td>have to fetch the id</td>
              <td>{{order.id}}</td>
              <td>{{order.address}}</td>
              <td>{{order.deliveryBoy}}</td>
              <td>{{order.status}}</td>
              <td>{{order.userName}}</td>
            </tr>
        </tbody>
      </table>
</md-card>