<!--<div class="row">

                    <h4>Angular 2 Pagination Example</h4> <br>
                    <span class="text-danger"> The selected page<span class="badge">{{currentSelectedPage}}</span> </span> <br>
                    <span class="text-danger"> Totoal items per page<span class="badge">{{currentItemsPerPage}}</span> </span> <br>

                    <div class="form-group">
                    <img [src]="slides[currentPage-1].image" style="margin:auto;">
                    </div>
                    <div class="form-group">
                    <pagination [boundaryLinks]="true" [totalItems]="totalResults"
                                [(ngModel)]="currentPage" (pageChanged)="currentPageChanged($event)"
                                [maxSize]="maxSize"
                                ></pagination>
                                <br>
                    <button type="button" class="btn btn-info" (click)="setCurrentPage(2)">Set the current page <span class="badge">to: 2</span></button> <br>

                    <br>
                    </div>
                    <div class="form-group" style="float: left">
                    <h4>Angular 2 Pager Example</h4>
                    <pager [totalItems]="totalResults" [(ngModel)]="currentPage" onPageChanged="currentPageChanged($event)"></pager>
                    </div>

                </div>-->